In [1]:
import pandas as pd

In [2]:
a:list[int] = [1,7,2]
df = pd.Series(a)
print(df)

0    1
1    7
2    2
dtype: int64

In [3]:
print(df[0])

1

In [7]:
df = pd.Series(a, index=["x",'y','z'])
df

x    1
y    7
z    2
dtype: int64

In [8]:
print(df['x'])

1

In [10]:
x = {"name" : "Aliyan", "age": 20, "country": "Pakistan"}
df = pd.Series(x)
df

name         Aliyan
age              20
country    Pakistan
dtype: object

In [12]:
z = {
    "marks" : [20,22,29],
    "result" : ["pass", "pass", "fail"]
}
df = pd.DataFrame(z)
df

   marks result
0     20   pass
1     22   pass
2     29   fail

In [14]:
df.loc[0]

marks       20
result    pass
Name: 0, dtype: object

In [16]:
df.loc[[1,2]]

   marks result
1     22   pass
2     29   fail

In [17]:
df = pd.DataFrame(z, index=["subject1", 'subject2', 'subject3'])
df

          marks result
subject1     20   pass
subject2     22   pass
subject3     29   fail

In [18]:
df.loc['subject3']

marks       29
result    fail
Name: subject3, dtype: object

In [21]:
df = pd.read_csv('./Data/CleaningData.csv')
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB